@{
    ViewData["Title"] = "Create speaking embed";
    string controller = TCU.English.Utils.NameUtils.ControllerName<TCU.English.Controllers.SpeakingManagerController>();
    string actionName = nameof(TCU.English.Controllers.SpeakingManagerController.EmbedCreate);
}
@* ============================ *@

@* ============================ *@
<div class="py-5">
    @using (Html.BeginForm(actionName, controller, FormMethod.Post))
    {
        <partial name="~/Views/SpeakingManager/Embed/_EmbedFormContent.cshtml" />
    }
</div>