@model ListeningBaseCombined
@{
    ViewData["Title"] = "Create Listening Part 2 Question";
    string controller = NameUtils.ControllerName<ListeningManagerController>();
    string actionName = nameof(ListeningManagerController.Part2Create);

    IEnumerable<TestCategory> testCategories = ViewBag.TestCategories;
    //IEnumerable<TCU.English.Models.BaseAnswer> testAnswers = TCU.English.Models.BaseAnswer.GetAnswers(Model.Answers) ?? TCU.English.Models.BaseAnswer.Generate(Config.MAX_READING_PART_2_QUESTION);
}
@* ============================ *@

@* ============================ *@
<div class="py-5">
    @using (Html.BeginForm(actionName, controller, FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <partial name="~/Views/ListeningManager/Part2/_Part2FormContent.cshtml" />
    }

</div>