@model TCU.English.Models.ListeningBaseCombined
@{
    ViewData["Title"] = $"Update '{Model.TestCategory.Name ?? "Listening Part 2 Question"}'";
    string controller = TCU.English.Utils.NameUtils.ControllerName<TCU.English.Controllers.ListeningManagerController>();
    string actionName = nameof(TCU.English.Controllers.ListeningManagerController.Part2Update);

    IEnumerable<TCU.English.Models.TestCategory> testCategories = ViewBag.TestCategories;
}
@* ============================ *@

@* ============================ *@
<div class="py-5">
    @using (Html.BeginForm(actionName, controller, FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <partial name="~/Views/ListeningManager/Part2/_Part2FormContent.cshtml" />
    }

</div>
