@using TCU.English.Controllers
@using TCU.English.Models
@using TCU.English.Utils
@model TCU.English.Models.PieceOfTest
@{
    ViewData["Title"] = ViewBag.Title ?? "TEST RESULT";
    Layout = "~/Views/Shared/_TestPaperLayout.cshtml";
    ViewData["HideTimer"] = true;
}

<section>
    <div class="text-center">
        <img src="~/img/success.gif" alt="Success" class="w-50" />
        <p>Congratulations, you finished the test with a score of</p>
        <p style="font-size: 50px;" class="font-weight-bold p-4 text-red">
            @(((float)ViewBag.Scores).ToString("0.0"))/@Config.MAX_SCORE_POINT
        </p>
        <button type="button" class="btn btn-lg btn-info" onclick="toastr['warning']('Currently the function is not available.');">Detail</button>
    </div>
</section>
@section FinishButton {
    <button type="button" class="btn btn-lg btn-success" onclick="window.location.href='/'">BACK TO HOME</button>
}

@section Scripts {


}