@* Menu dành cho quản trị người dùng *@
@if (User.IsInRole(UserType.ROLE_ALL) || User.IsInRole(UserType.ROLE_MANAGER_USER))
{
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">USER</div>
    <ul class="sidebar-menu list-unstyled">
        <li class="sidebar-list-item"><a href="@Url.Action(nameof(UserManagementController.Index), NameUtils.ControllerName<UserManagementController>())" class="sidebar-link text-muted"><i class="fas fa-users mr-3 text-gray"></i><span>All Users</span></a></li>
        <li class="sidebar-list-item"><a href="@Url.Action(nameof(UserManagementController.CreateUser), NameUtils.ControllerName<UserManagementController>())" class="sidebar-link text-muted"><i class="fas fa-user-plus mr-3 text-gray"></i><span>Create User</span></a></li>
    </ul>
}